h1 {
  color: red;
  border: 1px solid grey;
}
.item1 {
  border: 1px solid red;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 1px 1px rgb(136, 134, 134);
  text-shadow: 1px 1px 1px green;
}
body{
  background-image: url(../img/pexels-sơn-bờm-1773181.jpg);
  background-repeat: no-repeat;
  /* background-size: cover;
  background-position: 50px 100px; */
  background-attachment: fixed;

}
.caja2{
  border: 5px solid gray;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
  background-image: url(../img/pexels-photo-1741205.jpeg); 
  /* background-clip: content-box; */
  background-attachment:fixed ;
  /* scroll */
}
